body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container-fluid {
  padding: 7% 15%;
}

/* heading */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* navbar */
.nav-item {
  padding: 0 15px;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 0;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}
/* Title section */
#title {
  background-color: #ff4c68;
  color: white;
  font-size: 1.5rem;
  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;
}

/* title image */
.rotate {
  width: 60%;
  transform: rotate(35deg);
  position: absolute;
  left: 10%;
  z-index: 1;
}

/* Dowload buttons */
.dowload-button {
  margin: 5% 3% 5% 0;
}

/* features */
#features {
  position: relative;
  z-index: 2;
  background-color: white;
}

.explanation-p {
  color: #8f8f8f;
}

.fa-4x {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-4x:hover {
  color: #ff4c68;
}

.features-title {
  font-size: 1.5rem;
}

/* Testimonials  */
#testimonials {
  background-color: #ef8172;
  color: #ffff;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-coloum {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: white;
}

.ctah1 {
  padding: 5% 0 0;
}

/* Footer */
.Copyright {
  color: #8f8f8f;
}

#footer {
  background-color: white;
}

.fa {
  padding: 8px;
}

@media (max-width:1161px) {
  .rotate {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}
